@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.heading {
font-family: "Montserrat", Sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: #F2B124;
}

.submit-btn{
  background-color: #F2B124;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    fill: #1A1A1A;
    color: #1A1A1A;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF00;
    border-radius: 8px 8px 8px 8px;
    padding: 15px 25px 15px 25px;
    cursor: pointer;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

label {
 font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 140%;
    letter-spacing: 0;
}

textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}